{% extends 'index.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block content %}
{% for notification in notifications %}
    <div class="alert alert-{{ notification.type }}" role="alert">
        {{ notification.message }}
    </div>
{% endfor %}
<div class="container mt-4">
    <h1 class="fs-1">Modifier le profil</h1>
    <div class="d-flex justify-content-center">
        <div class="w-50"> 
            <form action="/BlogPHP/editProfile" method="POST" enctype="multipart/form-data" class="mt-4">
                <div class="mb-3">
                    <label for="surname" class="form-label fs-3 ">Nom :</label>
                    <input type="text" id="surname" name="surname" value="{{ user.surname }}" placeholder="Nom" required class="form-control">
                    {% if errors.surname %}
                        <div class="invalid-feedback" style="display:block;">{{ errors.surname }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label fs-3 ">Prénom :</label>
                    <input type="text" id="name" name="name" value="{{ user.name }}" placeholder="Prénom" required class="form-control">
                    {% if errors.name %}
                        <div class="invalid-feedback" style="display:block;">{{ errors.name }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label fs-3 ">Phrase d'accroche :</label>
                    <input type="text" id="message" name="message" value="{{ user.message }}" placeholder="Phrase d'accroche" required class="form-control">
                    {% if errors.message %}
                        <div class="invalid-feedback" style="display:block;">{{ errors.message }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="cv_file" class="form-label fs-3 ">CV :</label>
                    <input type="file" id="cv_file" name="cv_file" class="form-control">
                    {% if user.cv %}
                        <p>CV actuel : <a href="/{{ user.cv }}" target="_blank">{{ user.cv|split('/')|last }}</a></p>
                    {% endif %}
                    {% if errors.cv_file %}
                        <div class="invalid-feedback" style="display:block;">{{ errors.cv_file }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label fs-3 ">Photo de profil :</label>
                    <input type="file" id="photo" name="photo" class="form-control">
                    {% if user.photo %}
                        <p>Photo actuelle : <a href="/{{ user.photo }}" target="_blank">{{ user.photo|split('/')|last }}</a></p>
                    {% endif %}
                    {% if errors.photo %}
                        <div class="invalid-feedback" style="display:block;">{{ errors.photo }}</div>
                    {% endif %}
                </div>
                <div class="mb-3 text-end">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}
