{% extends 'index.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block content %}
{% for notification in notifications %}
    <div class="alert alert-{{ notification.type }}" role="alert">
        {{ notification.message }}
    </div>
{% endfor %}

<div class="container mt-4">
    <h1 class="fs-1">Modifier l'article</h1>
    <form method="post" action="/BlogPHP/editPost/{{ post.postId }}">
        <div class="mb-3">
            <label for="title" class="form-label">Titre</label>
            <input type="text" id="title" name="title" class="form-control" value="{{ post.title }}" required>
        </div>
        <div class="mb-3">
            <label for="chapo" class="form-label">Chapô</label>
            <input type="text" id="chapo" name="chapo" class="form-control" value="{{ post.chapo }}" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Contenu</label>
            <textarea id="content" name="content" class="form-control" rows="5" required>{{ post.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>
{% endblock %}
